<html>
    <head>
        <title>Mtg Seller</title>
        <link rel ="stylesheet" type ="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
        <link rel ="stylesheet" type ="text/css" href ="/stylesheets/main.css">
    </head>
    <body>
      <div class="ui fixed inverted menu">
            <div class ="ui container">
                <div class="header item">MtgSeller</div>
                <a href="/cards" class="ui item">Cards</a>
                <a href="/" class="ui item">About</a>
                <div class="right menu">
                    <a href="/" class="ui item">Sign Up</a>
                    <a href="/" class="ui item">Login</a>
                </div>
            </div>
        </div>